body {
    margin: 0px;
    background-color: red;
}

  
#li-top-bar {
    float: left;
  }
  
  #li-top-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  #li-top-bar a:hover {
    background-color: #111111;
  }