body {
    margin: 0px;
}
.top-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
#li-top-bar {
    float: left;
  }
  
  #li-top-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  #li-top-bar a:hover {
    background-color: #111111;
  }